footer
  .container.text-center
    p.float-left © 2018 EastMK Analytics, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='/privacy-policy') Privacy Policy
      li.list-inline-item &mdash;
      li.list-inline-item
        a(href='/terms-of-service') Terms of Service
