extends layout

block style
  link(rel='stylesheet', href='/css/tempusdominus-bootstrap-4.min.css')
  link(rel='stylesheet', href='/css/tablesorter.css')
  link(rel='stylesheet', href='/css/lib/c3.min.css')
  link(rel='stylesheet', href='/css/chart.css')

block content
  h3 Stats Analysis
  #overview
  #chart
  #tooltip
  form.form-inline
    .form-group.d-flex.align-items-center.mr-auto
      label.mb-0(for='dirtyRange') Dirtiness:
      input.ml-3(type='range', id='dirtyRange', min=0, max=100, value="100" onchange='updateDirtiness(this.value)')
      label.ml-3.mb-0(id='dirtyValue', for='dirtyRange') 100
    .form-check
      input.form-check-input(type='checkbox', value='', id='cbRealtime', onclick='switchRealtime(this.checked)')
      label.form-check-label(for='cbRealtime') Real Time
  #iptable
    table(class='table table-hover')
      thead
        tr
          th.col-ip IP <sup>repeated</sup>
          th.col-click-slot Click slot
          th.col-device Device
          th.col-post Visited Post
          th.col-date DateTime
          th.col-score Quality Score
      tbody
  .row
    .col-md-6
      .form-group
        #datetimeStart
    .col-md-6
      .form-group
        #datetimeEnd
  button.btn.btn-primary(onclick='getData()') Reload
  .detachable
    #future
    form.form-inline.bg-white
      .form-group.d-flex.align-items-center.mr-auto

        //- add ", checked" for default checked state
        input.form-check-input(type='checkbox', value='', id='cbDetach', onclick='detachFuture(this.checked)')
        label.form-check-label(for='cbDetach') Detach
  #sessionDurations
  #pagesPerSession

block script
  script(src='/js/lib/lodash.min.js')
  script(src='/js/lib/jquery.flot.js')
  script(src='/js/lib/jquery.flot.navigate.js')
  script(src='/js/lib/jquery.flot.selection.js')
  script(src='/js/lib/jquery.flot.time.js')
  script(src='/js/lib/moment.min.js')
  script(src='/js/lib/jquery.tablesorter.min.js')
  script(src='/js/lib/d3.min.js')
  script(src='/js/lib/c3.min.js')
  script(src='/js/tempusdominus-bootstrap-4.js')
  script(src='/js/chart.js')
