doctype html
html
  head
    style.
      button {
        margin: 0.1em auto;
        display: block;
        font-size: xx-large;
        padding: 1.57em;
        text-align: center;
        border: 1px solid black;
      }
  body
    button(onclick="visit()") Visit AD page
  script(src="/js/lib/jquery.min.js")
  script.
    var visit = () => {
      setTimeout(() => {
        open('http://www.weather.gov/news/', '_blank');
      }, 1500);
    };
