doctype html
html
  head
    style.
      body {
        margin: 0;
      }
      iframe {
        display: block;
        width: 100%;
        height: 160px;
      }
  body
    iframe#google_ads_frame1(src=(j === '2' ? "/test-iframe-last" : `/adtypes-test/code${(j - 1) % 5 + 1}.html`), frameborder="0")