html
  head
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.8/c3.min.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.8/c3.min.js')
    script(src="/js/lib/lodash.min.js")
    script(src="/js/lib/moment.min.js")
    style.
      body {
        display: flex;
        flex-wrap: wrap;
      }
  body
    script.
      class Exponentializer {
        constructor(xLength, total, min) {
          Object.assign(this, {
            sortFn: (a, b) => a - b,
            total: total,
            xLength: xLength,
            xData: Array.from(new Array(xLength), (d, i) => i + 1),
            sumXRatio: 0,
            sumX: 0,
            xStops: [],
            yData: [],
            min: min,
            sum: 0
          });
        }

        getTangent(opposite, adjacent) {
          return opposite / (adjacent / 2 * (adjacent + 1));
        }

        createCurve(xRatio, toalRatio, noiseRatio = 0.5) {
          this.yData.sort(this.sortFn);

          const x = Math.round(this.xLength * xRatio);
          const lastMaxH = _.last(this.yData) || 0;
          const tan = this.getTangent(this.total * toalRatio, x);

          this.yData = this.yData.concat(this.xData.slice(0, x).map((i) => {
            let h = i * tan;

            h += lastMaxH + (Math.random() < 0.5 ? -1 : 1) * _.random(0, h * noiseRatio);
            if (h < this.min) h = _.random(this.min, this.min + 0.49);
            this.sum += h;

            return h;
          }));
          this.sumX += x;
          this.xStops.push(this.sumX);
          this.sumXRatio += xRatio;
          if (this.sumXRatio > 1) throw new Error('Sum of x ratios is over 1');
        }

        createCurves(data) {
          data.forEach(d => this.createCurve(...d));
          this.createEndLine();
        }

        createEndLine() {
          this.yData.sort(this.sortFn);

          const x = Math.ceil(this.xLength * (1 - this.sumXRatio));
          const lastMaxH = _.last(this.yData) || 0;
          const opposite = this.total - this.sum - (lastMaxH * x);
          if (opposite < 0) console.log(opposite, lastMaxH, this.sum, this.total);
          const tan = this.getTangent(opposite, x);
          let h, diff;

          this.yData = this.yData.concat(this.xData.slice(0, x).map((i) => {
            h = lastMaxH + i * tan;
            this.sum += h;
            return h;
          }));
          diff = this.total - Math.round(this.sum);
          if (diff) throw new Error(`total =/= sums, diff: ${diff}`);
        }
      }

      const testMultiple = (data) => {
        const c3settings = {
          size: { width: 800, height: 350 },
          axis: {
            y: {
              tick: {
                format: y => moment.utc(y).format('HH:mm:ss')
              }
            }
          },
          legend: { show: false },
          data: { x: 'x' },
          point: { r: 5 }
        };
        let lastMin, lastCurveData;

        data.forEach((d, i) => {
          lastMin = lastMin || d.min;

          const my = d.y.match(/(\d{1,2}):(\d{1,2}):(\d{1,2})/);
          const y = moment(0).add({ hours: my[1], minutes: my[2], seconds: my[3] });
          const exp = new Exponentializer(d.x, y, lastMin);
          const chartEl = document.createElement('div');

          lastCurveData = lastCurveData || d.curveData;
          exp.createCurves(lastCurveData);
          c3settings.title = {
            text: `${d.title} - x:${d.x} - y:${d.y} - average:${moment.utc(exp.sum / d.x).format('HH:mm:ss')}`
          };
          Object.assign(c3settings.data, {
            columns: [
              ['x', ...exp.xData],
              ['y', ...exp.yData]
            ]
          });
          chartEl.setAttribute('id', `chart${i}`);
          document.body.appendChild(chartEl);
          c3settings.bindto = chartEl;
          c3settings.onrendered = () => exp.xStops.forEach(x => chartEl
            .querySelector(`.c3-circle-${x}`).style.fill = '#E91E63'
          );
          c3.generate(c3settings);
        });
      };

      testMultiple([{
        title: '2018-08-05 <-> 2018-08-07',
        x: 209,
        y: '19:58:38',
        min: 3000,
        curveData: [
          [0.5, 0.11, 0.8],
          [0.22, 0.02, 0.6],
          [0.1, 0.01, 0.3],
          [0.08, 0.01, 0.1],
          [0.025, 0.005, 0],
          [0.02, 0.04, 0]
          //[0.02, 0.05, 0] // TODO: fix negative tan
        ]
      }, {
        title: '2018-08-08 <-> 2018-08-15',
        x: 384,
        y: '27:47:24'
      }, {
        title: '2018-09-17',
        x: 16,
        y: '2:08:01'
      }]);
