doctype html
html
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  head
    style.
      body {
        /* user-select: none; */
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      #bar {
        position: absolute;
        bottom: 0;
        height: 3em;
      }
  body(oncontextmenu="return false;")
    canvas
    #bar
      button(onclick="clearCanvas()") Clear
      br
      span
    script(src="/js/lib/lodash.min.js")
    script(src="/js/lib/jquery.min.js")
    script(src="/js/random-bezier.js?" + Math.floor(Math.random() * 1000000000))
    script.

      const canvas = document.querySelector('canvas');
      const canvasRect = canvas.getBoundingClientRect();
      const context = canvas.getContext('2d');
      const span = document.querySelector('span');
      const strokeLine = (x, y) => {
        context.lineTo(x, y);
        context.stroke();
        // browser.touchMove(X[0], Y[0]);
      };
      const bezierOpts = {
        X0: 200,
        Y0: 100,
        Xf: 220,
        Yf: 250,
        O: 'T100 OT0 OB0 OL10 OR10 P5-15 S',
        onStart: (x, y) => {
          context.beginPath();
          context.moveTo(x, y);
        },
        onMove: strokeLine,
        onEnd: strokeLine
      };
      const swipeBox = (vpWidth, vpHeight, lengthLimits = [], maxDeviation = 20) => {
        const w = vpWidth * 0.5;
        const h = vpHeight * 0.7;
        const x0 = (vpWidth - w) / 2;
        const x1 = x0 + w;
        const y0 = (vpHeight - h) / 2;
        const y1 = y0 + h;

        context.strokeRect(x0, y0, x1 - x0, y1 - y0);
      };
      let _pressed = false;
      let _defer = null;
      let _arcRadius = 5;

      canvas.width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
      canvas.height = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);

      swipeBox(canvas.width, canvas.height);
      //- RandomBezier(bezierOpts);
      //- bezierOpts.O = 'T1500 RO RD OT150 OB150 OL150 OR150 P10';
      //- RandomBezier(bezierOpts);
      //- bezierOpts.O = 'T1000 RO RD';
      //- RandomBezier(bezierOpts);
      //- bezierOpts.O = 'T1500 RO RD OT150 OB150 OL150 OR150 P6-4';
      //- RandomBezier(bezierOpts);
      //- bezierOpts.O = 'T1200 RO RD OT100 OB-100 OL0 OR0 P4-3';
      //- RandomBezier(bezierOpts);
      //- bezierOpts.O = 'T1500 RO RD OT150 OB150 OL150 OR150 P10';
      //- RandomBezier(bezierOpts);
      function clearCanvas() {
        context.clearRect(0, 0, canvas.width, canvas.height);
      }
      const normalizeEvent = (ev) => {
        if (!ev.offsetX && ev.touches) {
          const t = ev.touches[0];

          ev.offsetX = t.clientX - canvasRect.left;
          ev.offsetY = t.clientY - canvasRect.top;
          span.innerHTML = `${t.radiusX} x ${t.radiusY} x ${t.rotationAngle}deg; ${t.force} F`;
        }
      }
      const drawCircle = (ev) => {
        if (ev.offsetX === ev.previousX && ev.offsetY === ev.previousY) {
          context.beginPath();
          context.arc(ev.offsetX, ev.offsetY, _arcRadius++, 0, 2 * Math.PI);
          context.fill();
        }
        ev.previousX = ev.offsetX;
        ev.previousY = ev.offsetY;
      };
      const isMobile = 'ontouchstart' in document.documentElement;

      // canvas.addEventListener(isMobile ? 'touchstart' : 'mousedown', (ev) => {
      $(canvas).on('touchstart mousedown', (ev) => {
        console.log('start', ev);
        normalizeEvent(ev);
        context.beginPath();
        context.moveTo(ev.offsetX, ev.offsetY);
        _pressed = true;
        _arcRadius = 5;
        _defer = setInterval(drawCircle, 50, ev);
        // ev.preventDefault();
      });
      const mousemove = (ev) => {
        console.log('move', ev);
        if (_pressed) {
          normalizeEvent(ev);
          //- brush
          //-
          //- for (let i = 1; i--;) {
          //-   context.rect(
          //-     ev.offsetX + Math.random() * 20 - 10,
          //-     ev.offsetY + Math.random() * 20 - 10,
          //-     1, 1
          //-   );
          //-   context.fill();
          //- }
          context.lineTo(ev.offsetX, ev.offsetY);
          context.stroke();
          _arcRadius = 5;
          clearInterval(_defer);
          _defer = setInterval(drawCircle, 50, ev);
        }
      };
      // canvas.addEventListener(isMobile ? 'touchmove' : 'mousemove', mousemove);
      $(canvas).on('touchmove mousemove', mousemove);
      // canvas.addEventListener(isMobile ? 'touchend' : 'mouseup', (ev) => {
      $(canvas).on('touchend mouseup', (ev) => {
        console.log('end', ev);
        _pressed = false;
        clearInterval(_defer);
      });