doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    style.
      p {
        margin: 1em;
      }
      ins {
        position: relative;
        display: block;
        border: 3px solid purple;
        box-sizing: border-box;
        height: 160px;
      }
      ins canvas {
        display: none;
      }
      ins iframe {
        display: block;
        width: 100%;
        height: 160px;
      }
      ins span {
        position: absolute;
        bottom: 0;
      }
  body
    - var n = 0, j = 0;
    while ++n < 13
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        | exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        | fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        | culpa qui officia deserunt mollit anim id est laborum.
      //- if n % 3 === 0
      //-   ins(id='ad' + ++j, data-ad-slot=j)
      //-     canvas
      //-     span
      //-     //- iframe(src=(`/test-iframe/${j}`), frameborder="0")
      //-     iframe(src=(`/test-iframe/2`), frameborder="0")
      if n === 5
        include content.ad.html
    script(src="/js/lib/lodash.min.js")
    script(src="/js/lib/jquery.min.js")
    script.
      const normalizeEvent = (ev, canvas, span) => {
        if (!ev.offsetX && ev.touches) {
          const t = ev.touches[0];
          const canvasRect = canvas.getBoundingClientRect();
          ev.offsetX = t.clientX - canvasRect.left;
          ev.offsetY = t.clientY - canvasRect.top;
          span.innerHTML = `${t.radiusX} x ${t.radiusY} x ${t.rotationAngle}deg; ${t.force} F`;
        }
      };
      const cross = (ev, ctx) => {
        ctx.beginPath();
        ctx.moveTo(ev.offsetX, ev.offsetY);
        for (var i = -5; i < 6; i++) {
          ctx.lineTo(ev.offsetX + i, ev.offsetY + i); 
        }
        ctx.stroke();
        ctx.moveTo(ev.offsetX, ev.offsetY);
        for (var i = -5; i < 6; i++) {
          ctx.lineTo(ev.offsetX - i, ev.offsetY + i);
        }
        ctx.stroke();
      };
      const drawCircle = (ctx, ev) => {
        ctx.beginPath();
        ctx.arc(ev.offsetX, ev.offsetY, (_arcRadius += 0.05), 0, 2 * Math.PI);
        ctx.fill();
      };
      let _defer = null;
      let _arcRadius = 1;

      document.querySelectorAll('ins').forEach((ins) => {
        const span = ins.querySelector('span');
        const canvas = ins.querySelector('canvas');
        const ctx = canvas.getContext('2d');

        canvas.width = ins.offsetWidth;
        canvas.height = ins.offsetHeight;

        canvas.addEventListener('click', (ev) => {
          normalizeEvent(ev, canvas, span);
          cross(ev, ctx);
          console.log('click');
        });
        canvas.addEventListener('touchstart', (ev) => {
          normalizeEvent(ev, canvas, span);
          // _defer = setInterval(drawCircle, 1, ctx, ev);
          cross(ev, ctx);
          console.log('touchstart');
        });
        canvas.addEventListener('touchend', (ev) => {
          _arcRadius = 1;
          clearInterval(_defer);
          console.log('touchend');
        });
      });
