html
  head
    style.
      #logger {
        height: 100px;
        line-height: 100px;
        text-align: center;
        border: 2px solid #0056ff;
        font-size: 2em;
      }
      ins {
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
        /* display: inline-block; */
        position: relative;
      }
      ins:after { /* I have higher Z-index so I can catch the click! Yey */
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
      iframe {
        width: 100%;
        /* vertical-align: top; */
      }
      [data-ad-slot=big] {
        display: block;
        width: 70%;
        margin: 20px auto;
        border: 2px solid #f93454;
      }
      [data-ad-slot=big], [data-ad-slot=big] iframe {
        height: 400px;
      }
      [data-ad-slot=small] {
        display: block;
        width: 25%;
        margin: 3em 0em 3em 50%;
        border: 5px solid #39a531;
      }
      [data-ad-slot=small], [data-ad-slot=small] iframe {
        height: 300px;
      }
  body
    #logger
    ins(data-ad-slot="big")
      iframe(src="https://molily.de/javascript-fokus-zentral/", frameborder="0")
    ins(data-ad-slot="small")
      iframe(src="/test-iframe", frameborder="0")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
    script.
      let logger = document.getElementById('logger');
      $(logger).on('click', () => {
        logger.innerHTML = '';
      });
      $('ins').on('click', (e) => {
        e.preventDefault();
        logger.innerHTML = $(e.target).data('ad-slot') + ' click';
      });