doctype html
html
  head
    style.
      #logger {
        height: 100px;
        line-height: 100px;
        text-align: center;
        border: 2px solid #0056ff;
        font-size: 2em;
      }
      ins {
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
      }
      iframe {
        width: 100%;
      }
      [data-ad-slot=big] {
        display: block;
        width: 70%;
        margin: 20px auto;
        border: 2px solid #f93454;
      }
      [data-ad-slot=big], [data-ad-slot=big] iframe {
        height: 400px;
      }
      [data-ad-slot=small] {
        display: block;
        width: 25%;
        margin: 3em 0em 3em 50%;
        border: 5px solid #39a531;
      }
      [data-ad-slot=small], [data-ad-slot=small] iframe {
        height: 300px;
      }
  body
    // (onclick="void(0)")
    #logger
    ins(data-ad-slot="big")
      iframe(src="https://molily.de/javascript-fokus-zentral/", frameborder="0")
      // , tabindex="0"
    ins(data-ad-slot="small")
      iframe(src="/test-iframe", frameborder="0")
    //canvas
    script.
      document.addEventListener('focus', function (e) {
        document.activeElement = e.target;
      }, true);
      var selected = '';
      let logger = document.getElementById('logger');
      //- let console = {
      //-   log: (...args) => {
      //-     logger.innerHTML += args.join(',');
      //-   }
      //- };

      //- window.console = console;
      logger.addEventListener('click', () => {
        selected = '';
        logger.innerHTML = '';
      });
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
    script.
      var ins = document.getElementsByTagName('ins');

      //jQuery('*').click(function(){});
      jQuery('ins iframe')
        .on('webkitmouseforcewillbegin', e => {
          logger.innerHTML += ' webkitmouseforcewillbegin ';
        })

      setInterval(() => {
        if (!document.activeElement || document.activeElement.tagName !== 'IFRAME') {
          return;
        }

        var $ins = jQuery(document.activeElement).closest('[data-ad-slot]');

        if (!$ins.length) {
          return;
        }
        if (selected === $ins.data('ad-slot')) {
          return;
        }
        selected = $ins.data('ad-slot');
        logger.innerHTML = selected + ' click; ';
      }, 100);
