.container > * {
  margin-bottom: .5rem;
}
#overview, #chart, #future {
  width: 1100px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
#overview {
  height: 10rem;
  background: linear-gradient(180deg, #007bff -500%, #fff 70%);
  cursor: zoom-in;
}
#chart, #future {
  height: 20rem;
  background: linear-gradient(0deg, #007bff -300%, #fff 70%);
  cursor: all-scroll;
}
.flot-text .flot-x-axis .flot-tick-label {
  font-size: small;
}
#tooltip {
  display: none;
  position: absolute;
  border: 1px solid #007bff;
  padding: 2px;
  background-color: #007bff;
  color: #fff;
  max-width: 500px;
  z-index: 1000;
}
#iptable {
  height: 20rem;

  table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
  }
  thead {
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
  }
  tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
  }
  tbody tr {
    width: 100%;
  }
  thead, tbody tr {
    display: table;
    table-layout: fixed;
  }
  th {
    text-align: center;
  }
  td {
    word-wrap: break-word;
    vertical-align: middle;
  }
  .col-ip {
    width: 9rem;
  }
  .col-click-slot {
    width: 7rem;
  }
  .col-device {
    width: 7rem;
  }
  .col-date {
    width: 10rem;
  }
  .col-score {
    width: 9rem;
  }
  sup {
    font-weight: 400;
  }
}
.datepicker .disabled {
  background-color: #f1f0f0 !important;
}
.datepicker-days {
  border: 1px solid #007bff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
