extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 API Examples

  .row
    .col-md-4
      a(href='/api/upload', style='color: #1565c0')
        .card(style='background-color: #fff').mb-3
          .card-body
            img(src='https://i.imgur.com/UPTzIdC.png', height=40)
            |  File Upload
